@charset "utf-8";

@import "./node_modules/bulma/sass/utilities/initial-variables";
@import "./node_modules/bulma/sass/utilities/functions";

$xs:  40em;
$sm:  60em;
$md:  80em;
$lg: 100em;
$xl: 120em;

$per: 100%;

$fullhd:     29 * 64px + (2 * $gap);
$widescreen: 23 * 64px + (2 * $gap);
$desktop:    20 * 64px + (2 * $gap);
$tablet:     15 * 64px + (2 * $gap);

$red: #cc0f35;
$orange: #ff5740;
$warning: $orange;
$radius-small: 3px;
$card-shadow: none;

$menu-item-active-background-color: $red;

$breadcrumb-item-padding-vertical: 0.5em;

$family-sans-serif: "Roboto", BlinkMacSystemFont, -apple-system, "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;

@import "./node_modules/bulma/bulma";

$badge-font-size: 12px !default;
$badge-height: 16px !default;
$badge-padding: 0.15rem;
$badge-background-color: $red;
@import "./node_modules/@creativebulma/bulma-badge/src/sass/index.sass";

@import "../fonts/font-awesome/scss/fontawesome";
@import "../fonts/font-awesome/scss/brands";
@import "../fonts/font-awesome/scss/regular";
@import "../fonts/font-awesome/scss/solid";
@import "../fonts/font-awesome/scss/v4-shims";

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/Roboto/Roboto-Black.ttf") format("truetype")
}

@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 900;
  src: url("../fonts/Roboto/Roboto-BlackItalic.ttf") format("truetype")
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Roboto/Roboto-Bold.ttf") format("truetype")
}

@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/Roboto/Roboto-BoldItalic.ttf") format("truetype")
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Roboto/Roboto-Medium.ttf") format("truetype")
}

@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 500;
  src: url("../fonts/Roboto/Roboto-MediumItalic.ttf") format("truetype")
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Roboto/Roboto-Regular.ttf") format("truetype")
}

@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/Roboto/Roboto-Bold.ttf") format("truetype")
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/Roboto/Roboto-Light.ttf") format("truetype")
}

@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 300;
  src: url("../fonts/Roboto/Roboto-LightItalic.ttf") format("truetype")
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 100;
  src: url("../fonts/Roboto/Roboto-Thin.ttf") format("truetype")
}

@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 100;
  src: url("../fonts/Roboto/Roboto-ThinItalic.ttf") format("truetype")
}

hr {
    border: none;
    height: 1px;
    padding: 0;
    background-color: #dbdbdb;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.line-through {
  text-decoration: line-through;
}

.strong {
    font-weight: 700;
}

.content table.table-center,
.content table.table-center-middle {
    width: 100%;
    margin-bottom: 1em;
}

.content table.table-center td,
.content table.table-center-middle td {
    padding: 0;
    text-align: center;
}

.content table.table-center-middle td {
    vertical-align: middle;
}

.content table.table-center td:first-child,
.content table.table-center-middle td:first-child {
    text-align: left;
}

.content table.table-center td:last-child,
.content table.table-center-middle td:last-child {
    text-align: right;
}

.content p:not(:last-child) {
    margin-bottom: 0;
}

.content table.table-center .buttons {
    align-items: center;
    display: inline-block;
    flex-wrap: nowrap;
    justify-content: center;
}

.content table.table-center .button {
    margin-bottom: 0;
}

.content .field.has-addons {
    display: flex;
    justify-content: center;
}

.tag:not(body) {
    border-radius: 2px;
    height: 100%;
    padding: 0 0.5em;
}

.section {
    padding: 1.5rem 0;
}

.items {
  box-shadow: none;
  border-radius: 0;
  border-right: 1px solid #eeeeee;
}

.card {
    box-shadow: none;
    border-radius: 0;
    border-top: 1px solid #eeeeee;
    border-left: 1px solid #eeeeee;
}

@media (min-width: $xs) {
  .columns.items {
    display: flex;
  }
}

@media (min-width: $sm) {
  .section {
    padding: 1.5rem;
  }
}

@media (min-width: $md) {
  .columns.items {
    padding: $gap/4;
  }
}

@media (min-width: $xl) {
  .columns.items {
    padding-right: 0;
  }
}

.card-image {
    height: 240px;
    padding: 10px;
}

.list-image {
    margin-bottom: 12px;
    text-align: center;
    height: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.list-image img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 220px;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}

.card-content {
    padding: 1rem;
}

a.three-lines-text {
  display: block;
  height: $body-line-height * 3em;
  overflow: hidden;
  text-overflow: ellipsis;
  color: $dark;
}

a.three-lines-text:hover {
    color: $link;
}

.pagination-ellipsis {
    display: none;
}

@media (min-width: $sm) {
  .pagination-list {
    justify-content: center;
  }
}

@media (min-width: $md) {
  .pagination-ellipsis {
    display: list-item;
  }
}

.pagination-previous, .pagination-next, .pagination-link {
    border-color: #ffffff;
    min-width: 2.5em;
    max-width: 2.5em;
    max-height: 2.5em;
}

.pagination-previous:hover, .pagination-next:hover, .pagination-link:hover {
    border: 1px solid #cccccc;
    color: #000000;
}

.pagination-link span.mdi {
    font-size: 1.5rem;
}

.pagination-link.is-disabled, .pagination-link[disabled], .pagination-next.is-disabled, .pagination-next[disabled], .pagination-previous.is-disabled, .pagination-previous[disabled] {
    border-color: #dbdbdb;
    box-shadow: none;
    color: #7a7a7a;
    opacity: .5;
}

a.is-disabled:hover,
button.is-disabled:hover {
    cursor:not-allowed;
}

// ------------------------------------------------------------------------------------------------------- //

.row {
  box-sizing: border-box;
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
  margin-right: $gap;
  margin-left: $gap;
}

.cols,
.cols-1 {
  flex-grow: 1;
  max-width: 100%;
}

@for $i from 2 through 12 {
  .cols-#{$i} {
    flex-basis: $per/$i;
    max-width:  $per/$i;
    box-sizing: border-box;
  }
}

@media (min-width: $xs) {
  .cols-xs,
  .cols-xs-1 {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
  }

  @for $i from 2 through 12 {
    .cols-xs-#{$i} {
      flex-basis: $per/$i;
      max-width:  $per/$i;
      box-sizing: border-box;
    }
  }
}

@media (min-width: $sm) {
  .cols-sm,
  .cols-sm-1 {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
  }

  @for $i from 2 through 12 {
    .cols-sm-#{$i} {
      flex-basis: $per/$i;
      max-width:  $per/$i;
      box-sizing: border-box;
    }
  }
}

@media (min-width: $md) {
  .cols-md,
  .cols-md-1 {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
  }

  @for $i from 2 through 12 {
    .cols-md-#{$i} {
      flex-basis: $per/$i;
      max-width:  $per/$i;
      box-sizing: border-box;
    }
  }
}

@media (min-width: $lg) {
  .cols-lg,
  .cols-lg-1 {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
  }

  @for $i from 2 through 12 {
    .cols-lg-#{$i} {
      flex-basis: $per/$i;
      max-width:  $per/$i;
      box-sizing: border-box;
    }
  }
}

@media (min-width: $xl) {
  .cols-xl,
  .cols-xl-1 {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
  }

  @for $i from 2 through 12 {
    .cols-xl-#{$i} {
      flex-basis: $per/$i;
      max-width:  $per/$i;
      box-sizing: border-box;
    }
  }
}
